@keyframes floatUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.mobileCard {
  animation: floatUpDown 3s ease-in-out infinite;
}

.mockupContainer {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.mockupContainer * {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.chatInput {
  background-color: var(--mantine-color-gray-0);
}

html[data-mantine-color-scheme='dark'] .chatInput {
  background-color: var(--mantine-color-dark-6);
}

.topBar {
  background-color: var(--mantine-color-gray-1);
  border-bottom: 1px solid var(--mantine-color-gray-3);
}

html[data-mantine-color-scheme='dark'] .topBar {
  background-color: var(--mantine-color-dark-6);
  border-bottom-color: var(--mantine-color-dark-4);
}

.mobileTopBar {
  background-color: var(--mantine-color-gray-1);
  border-bottom: 1px solid var(--mantine-color-gray-3);
}

html[data-mantine-color-scheme='dark'] .mobileTopBar {
  background-color: var(--mantine-color-dark-6);
  border-bottom-color: var(--mantine-color-dark-4);
}

.statCard {
  background-color: var(--mantine-color-gray-1);
}

html[data-mantine-color-scheme='dark'] .statCard {
  background-color: var(--mantine-color-dark-5);
}
