.section {
  background-color: var(--mantine-color-gray-1);
}

html[data-mantine-color-scheme='dark'] .section {
  background-color: var(--mantine-color-dark-7);
}

.benefitCard {
  background-color: var(--mantine-color-gray-0);
  border: 1px solid var(--mantine-color-gray-2);
}

html[data-mantine-color-scheme='dark'] .benefitCard {
  background-color: var(--mantine-color-dark-6);
  border-color: var(--mantine-color-dark-4);
}
