.card {
  background-color: var(--mantine-color-gray-0);
  border-color: var(--mantine-color-gray-2);
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
  cursor: pointer;
}

html[data-mantine-color-scheme='dark'] .card {
  background-color: var(--mantine-color-dark-6);
  border-color: var(--mantine-color-dark-4);
}

.card:hover {
  border-color: var(--mantine-color-green-5);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

html[data-mantine-color-scheme='dark'] .card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
